.actions
  %input#range{:type => "range", :min=> "0.05", :max => "0.95", :step => 0.05}
  %input#soil{:type => :radio, :name => :type, :value => :no}= 'soil'
  %input#water{:type => :radio, :name => :type, :value => :no}= 'water'